.buku-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aquamarine;
}

.container-navigasiBuku {
    display: grid;
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    background-color: thistle;
}

.search {
    justify-self: center; /* form di tengah */
}

.aksi {
    padding-right: 10px;
    justify-self: end; /* tombol di pojok kanan */
}

.container-navigasiBuku input {
    width: 400px;
}